.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  background-color: #4cac83;
  cursor: auto;
}

.background-element {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.pavak-illustration {
  position: absolute;
  z-index: auto;
  overflow: visible;
  width: 80vh;
  max-width: 75%;
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  text-align: left;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.foreground-cloud {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: auto;
  height: 10vh;
  -webkit-transform: translate3d(-140%, 92%, 14.4vh);
  transform: translate3d(-140%, 92%, 14.4vh);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.background-cloud {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: auto;
  height: 13vh;
  -webkit-transform: translate3d(-19%, -250%, -14.4vh);
  transform: translate3d(-19%, -250%, -14.4vh);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.background-mountain {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: auto;
  width: 300vh;
  height: 150vh;
  max-width: none;
  -webkit-transform: translate3d(-48%, -48%, -65vh);
  transform: translate3d(-48%, -48%, -65vh);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.portfolio-item {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.pavak-illustration-container {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.portfolio-item-button {
  position: absolute;
  width: 44vh;
  max-width: 75%;
  cursor: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.portfolio-item-button.hoverable {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.foreground-element {
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 100vh;
}

.foreground-element.textbox {
  position: absolute;
}

.foreground-element.textbox.content-foreground-element {
  position: fixed;
  z-index: auto;
}

.stream-container {
  position: absolute;
  left: 50%;
  top: 62%;
  z-index: -1;
  width: 35vh;
  height: 15vh;
  padding: 1vh 2vh;
  border-style: solid;
  border-width: 0.3vh;
  border-color: #2e2e2e;
  border-radius: 2vh;
  background-color: #4cac83;
  -webkit-transform: translate3d(0vh, 6vh, 36vh);
  transform: translate3d(0vh, 6vh, 36vh);
  font-family: Quicksand, sans-serif;
  color: #f8f5df;
  font-size: 2.5vh;
  line-height: 4vh;
  font-weight: 700;
  text-align: left;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.stream-container.stream-container-shadow {
  width: 35vh;
  border-color: #2e2e2e;
  background-color: #2e2e2e;
  -webkit-transform: translate3d(1vh, 7vh, 21.6vh);
  transform: translate3d(1vh, 7vh, 21.6vh);
  font-weight: 500;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.stream {
  width: auto;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.cursor-wrapper {
  position: fixed;
  z-index: 200;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
}

.cursor {
  width: 1.2vh;
  height: 1.2vh;
  border: 0.23vh none transparent;
  border-radius: 50%;
  background-color: #fffff5;
  opacity: 0;
}

.portfolio-image {
  position: absolute;
}

.body-2 {
  background-color: #f6f0e2;
  cursor: auto;
}

.media-block {
  position: relative;
  width: 100%;
  height: 100vh;
  border: 1px none #000;
  opacity: 1;
  -o-object-fit: fill;
  object-fit: fill;
}

.inside-media {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  max-height: 60vh;
  max-width: 40%;
  border-style: none;
  border-width: 0.3vh;
  border-color: #2e2e2e;
  border-radius: 2vh;
  opacity: 1;
  -webkit-transform: translate(-30vh, 0px) translate(-50%, -50%);
  -ms-transform: translate(-30vh, 0px) translate(-50%, -50%);
  transform: translate(-30vh, 0px) translate(-50%, -50%);
}

.inside-media.projects {
  max-height: 80vh;
  max-width: 70%;
  border-radius: 1vh;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content-stream-container {
  position: absolute;
  left: 50%;
  top: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35vh;
  height: auto;
  padding: 1vh 2vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 0.3vh;
  border-color: #2e2e2e;
  border-radius: 2vh;
  background-color: #f6f0e2;
  -webkit-transform: translate3d(-50%, -50%, 36vh);
  transform: translate3d(-50%, -50%, 36vh);
  font-family: Quicksand, sans-serif;
  color: #2e2e2e;
  font-size: 1.8vh;
  line-height: 3vh;
  font-weight: 700;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.content-stream-container.content-stream-container-shadow {
  height: auto;
  margin-top: 1vh;
  margin-left: 1vh;
  padding-right: 2vh;
  padding-left: 2vh;
  background-color: #2e2e2e;
  -webkit-transform: translate3d(-50%, -50%, 21.6vh);
  transform: translate3d(-50%, -50%, 21.6vh);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.back-button {
  position: fixed;
  left: auto;
  top: 3vh;
  right: 3vh;
  bottom: auto;
  z-index: 199;
  opacity: 0;
  cursor: none;
}

.back-button-image {
  position: static;
  left: auto;
  top: 1%;
  right: 5%;
  bottom: auto;
  z-index: 5;
  width: 7.5vh;
  opacity: 1;
}

.scroll-animation {
  position: fixed;
  left: 50%;
  bottom: 4%;
  z-index: 50;
  width: 4vh;
  height: 10vh;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.preloader-overlay {
  position: fixed;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #f6f0e2;
}

.stream-box {
  position: absolute;
  z-index: 60;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-transform: translate3d(0px, 0px, 0.1px);
  transform: translate3d(0px, 0px, 0.1px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.leaver-overlay {
  position: fixed;
  z-index: 900;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #f6f0e2;
}

.content-preloader {
  position: fixed;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #f6f0e2;
}

.stream-box-content {
  position: absolute;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.content-leaver-loader {
  position: fixed;
  z-index: 99999;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #f6f0e2;
  opacity: 0;
}

.conclusion-item-button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15vh;
  max-width: 30%;
  margin-right: 2vh;
  margin-bottom: 10vh;
  margin-left: 2vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: none;
}

.media-caption {
  display: none;
}

.cursor-text {
  position: absolute;
  opacity: 0;
  font-family: Quicksand, sans-serif;
  color: #62a198;
  font-size: 1vh;
  font-weight: 600;
}

.video-url {
  display: none;
}

.video-attributes {
  display: none;
}

.content-conclusion-block {
  position: relative;
  z-index: 65;
  display: none;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f6f0e2;
  opacity: 1;
}

.page-link {
  padding-right: 2vh;
  padding-left: 2vh;
  opacity: 0.5;
  font-family: Quicksand, sans-serif;
  color: #62a198;
  font-size: 2.5vh;
  line-height: 9vh;
  font-weight: 500;
  text-decoration: none;
  cursor: none;
}

.page-link.hoverable.w--current {
  color: #2e2e2e;
  text-decoration: none;
}

.div-block {
  width: 5vh;
  height: 5vh;
}

.conclusion-links {
  position: absolute;
  bottom: 5vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.conclusion-buttons {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.conclusion-button {
  padding: 3vh;
  cursor: none;
}

.work-slideshow-container {
  position: absolute;
  z-index: 5;
  display: none;
  width: 100%;
  height: 0px;
  padding-top: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 0.5fr;
  grid-template-columns: 1fr 0.5fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: url('../images/logos.svg');
  background-position: 0% 50%;
  background-size: auto 100%;
  -webkit-transform: translate(0px, -19%);
  -ms-transform: translate(0px, -19%);
  transform: translate(0px, -19%);
}

.hover-text {
  display: none;
}

.content-button {
  display: block;
  width: 10vh;
  height: 10vh;
}

.work-slideshow-sizing-container {
  position: absolute;
  right: 12%;
  width: 45%;
}

.empty-block {
  position: relative;
  width: 100%;
  height: 100vh;
}

.scroll-animation-lottie {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.contact-conclusion-block {
  position: relative;
  z-index: 65;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 240, 226, 0)), color-stop(23%, #f6f0e2), color-stop(39%, #f6f0e2));
  background-image: linear-gradient(180deg, rgba(246, 240, 226, 0), #f6f0e2 23%, #f6f0e2 39%);
}

.contact-conclusion-block.skills {
  background-color: #101010;
  background-image: none;
}

.full-screen-container {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body-3 {
  background-color: #f6f0e2;
}

.heading {
  width: 30vh;
  font-family: Quicksand, sans-serif;
  font-size: 25px;
  text-align: center;
}

.picture-button {
  position: static;
  left: 50%;
  top: 50%;
  z-index: 20;
  width: 15vh;
  height: 15vh;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  opacity: 0;
  cursor: none;
}

.profile-pic {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.picture-button-container {
  position: absolute;
  left: 67%;
  top: 73%;
  z-index: 60;
  -webkit-transform: translate(-14vh, -27vh);
  -ms-transform: translate(-14vh, -27vh);
  transform: translate(-14vh, -27vh);
  cursor: none;
}

.leaves-animation-container {
  position: fixed;
  z-index: 65;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lottie-animation {
  position: absolute;
  width: 100%;
  height: 100%;
}

.submit-button {
  margin-top: 1vh;
  border-radius: 12px;
  background-color: #4cac83;
}

.text-field {
  border-style: solid;
  border-width: 2px;
  border-color: #2e2e2e;
  border-radius: 5px;
  background-color: #f6f0e2;
}

.error-message {
  margin-top: 24px;
  padding: 16px;
  background-color: #fff;
  color: #101010;
}

.footer-grid-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5%;
  margin-bottom: 41px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-heading {
  margin-top: 0px;
  margin-bottom: 22px;
  font-family: Varela, sans-serif;
  color: #5bbeb0;
  font-size: 36px;
  line-height: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
}

.top-line {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  margin-bottom: 5px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #000;
  direction: rtl;
}

.page-wrap {
  position: relative;
  height: 100%;
}

.caps-text {
  display: inline-block;
  margin-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Lato, sans-serif;
  color: #d83939;
  font-size: 12px;
  letter-spacing: 0.4px;
  text-decoration: none;
  text-transform: uppercase;
}

.block-about-image {
  position: relative;
}

.contact-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.half-div {
  width: 50%;
}

.half-div.mobile-full {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.about-image {
  width: 90%;
  -webkit-filter: none;
  filter: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.top-line-wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #000;
}

.contact-form {
  margin-top: 0px;
  margin-bottom: 40px;
  color: #fff;
  font-size: 4vw;
  line-height: 5vw;
  font-weight: 500;
  text-shadow: 0 0 16px rgba(16, 16, 16, 0.3);
}

.block-name {
  position: absolute;
  left: 15px;
  top: 363px;
  right: 0%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  position: relative;
  z-index: 1;
  padding: 11% 10%;
  background-color: #101010;
}

.section.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.center.top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section.about {
  padding: 7%;
  color: #e4e4e4;
}

.project-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #5bbeb0;
  font-size: 4vw;
  line-height: 5vw;
  font-weight: 500;
  text-shadow: 0 0 16px rgba(16, 16, 16, 0.3);
}

.footer-header {
  margin-right: 25px;
  color: #d6d6d6;
  font-size: 16px;
  font-weight: 600;
}

.field-label-2 {
  margin-bottom: 0px;
}

.button-text {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}

.button-text:hover {
  opacity: 0.5;
}

.button-text.lowercase {
  text-transform: lowercase;
}

.experience-title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.success-message {
  border: 1px solid #fff;
  background-color: transparent;
}

.right-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-field-2 {
  margin-bottom: 48px;
  padding: 4px 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 hsla(0, 0%, 100%, 0.3);
  border-radius: 0px;
  background-color: transparent;
  color: #fff;
}

.text-field-2:active {
  border-bottom-color: #fff;
}

.text-field-2:focus {
  border-bottom-color: #fff;
}

.text-field-2::-webkit-input-placeholder {
  color: hsla(0, 0%, 100%, 0.3);
}

.text-field-2:-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0.3);
}

.text-field-2::-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0.3);
}

.text-field-2::placeholder {
  color: hsla(0, 0%, 100%, 0.3);
}

.text-field-2.min-height {
  min-height: 120px;
  border-radius: 0px;
}

.underline-button-wrap {
  position: relative;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  color: #000;
  text-decoration: none;
}

.subheader {
  margin-top: 0px;
  margin-bottom: 22px;
  line-height: 0.8em;
}

.subheader.title {
  margin-bottom: 12px;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  line-height: 2em;
  font-weight: 400;
  letter-spacing: 1px;
}

.bottom-line {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 1px;
  margin-bottom: -2px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
  background-color: #000;
}

.span {
  font-family: Lato, sans-serif;
  color: #f8f5df;
  font-size: 20px;
}

.hero-title-wrap {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
  text-decoration: none;
}

.outlined-btn {
  margin-top: 16px;
  margin-right: 16px;
  padding: 8px 24px;
  border: 1px solid #fff;
  border-radius: 0px;
  background-color: #101010;
  -webkit-transition: color 600ms cubic-bezier(.23, 1, .32, 1), background-color 600ms cubic-bezier(.23, 1, .32, 1);
  transition: color 600ms cubic-bezier(.23, 1, .32, 1), background-color 600ms cubic-bezier(.23, 1, .32, 1);
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-decoration: none;
  text-transform: uppercase;
}

.outlined-btn:hover {
  background-color: #fff;
  color: #101010;
}

.link {
  font-family: Lato, sans-serif;
  color: #e3defa;
  text-decoration: none;
  text-transform: capitalize;
}

.experience-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.experience-wrap.first {
  margin-top: 10px;
  margin-bottom: 24px;
}

.underline-button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-content {
  height: 100%;
}

.muted-text {
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #888;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4px;
  text-decoration: none;
  text-transform: uppercase;
}

.muted-text.experience {
  color: #62a198;
  text-transform: capitalize;
}

.grid-2 {
  width: 100%;
  max-width: 1300px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1.25fr 1fr;
  grid-template-columns: 1.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.service-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.back-button-opacity {
  position: fixed;
  left: auto;
  top: 3vh;
  right: 3vh;
  bottom: auto;
  z-index: 199;
  opacity: 0;
  cursor: none;
}

.back-button-opacity.hoverable {
  border-radius: 0px;
  opacity: 1;
}

.close-link {
  position: absolute;
  left: auto;
  top: 1%;
  right: 3%;
  bottom: auto;
  width: 100px;
}

.spacer-section {
  height: 13vh;
  background-color: #101010;
}

.part-04 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #0f0f0f;
}

.hair-02 {
  z-index: -10;
  width: 50%;
  border-radius: 0px 0px 100px 100px;
  background-color: #f2f2ed;
}

.eye-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hair-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.right-hear {
  width: 25px;
  height: 40px;
  border: 5px solid #f2f2ed;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #5bbeb0;
}

.space-between-eyes {
  width: 10px;
}

.left-hear {
  width: 25px;
  height: 40px;
  border: 5px solid #f2f2ed;
  border-radius: 100px 10px 10px 100px;
  background-color: #5bbeb0;
}

.head-container {
  position: relative;
  bottom: -49px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pupil {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33px;
  height: 33px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #5bbeb0;
}

.face {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.part-01 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.eyebrow-02 {
  width: 23px;
  height: 11px;
  margin-right: 20px;
  margin-left: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #5bbeb0;
  border-radius: 100px;
  background-color: #f2f2ed;
}

.part-02 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tongue {
  width: 40px;
  height: 40px;
  margin-bottom: -40%;
  border-radius: 100%;
  background-color: #ed74ae;
}

.nose {
  width: 26px;
  height: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: #4cac83;
  border-radius: 100px;
  background-color: #f2f2ed;
}

.container {
  position: relative;
  top: 434px;
  display: block;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.mouth {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 60px;
  height: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 4px solid #f2f2ed;
  border-radius: 100px 100px 200px 200px;
  background-color: #4cac83;
}

.heart-pupil {
  position: absolute;
  width: 30px;
  opacity: 0;
}

.head {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 150px;
  height: 230px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 4px solid #f2f2ed;
  border-radius: 100px;
}

.hair-01 {
  z-index: -10;
  width: 50%;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #f2f2ed;
}

.hair-and-face {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 100px;
}

.hair-overflow-hidden {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 25%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.part-03 {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.eyebrow-01 {
  width: 23px;
  height: 11px;
  margin-right: 20px;
  margin-left: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #5bbeb0;
  border-radius: 100px;
  background-color: #f2f2ed;
}

.star-overflow-hidden {
  position: absolute;
  z-index: -20;
  overflow: hidden;
  width: 100%;
}

.teeth {
  width: 100%;
  height: 10px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #f2f2ed;
}

.hear-container {
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.eye {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 4px solid #f2f2ed;
  border-radius: 100%;
  background-color: #f2f2ed;
}

.rotate-star-2 {
  position: relative;
  left: 411px;
  z-index: -20;
  width: 90%;
  max-width: 500px;
  opacity: 0.17;
}

.face-section-2 {
  display: block;
  min-height: 85vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #0f0f0f;
}

.home-link-gif-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-link-gif-div._1 {
  max-width: 10vw;
}

.home-link-gif-div._6 {
  margin-top: -170px;
}

.home-link-gif-div._2 {
  margin-bottom: 250px;
}

.home-link-gif-div._5 {
  margin-top: 70px;
}

.home-link-gif-div._4 {
  margin-top: -170px;
}

.skills-circle-grid {
  display: -ms-grid;
  display: grid;
  width: 800px;
  height: 800px;
  margin-top: 0px;
  padding-bottom: 133px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.hex-links {
  position: static;
  max-width: 10vw;
  margin-top: 0px;
  padding-bottom: 0px;
}

.hex-links._2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}

.hex-links._1 {
  max-width: 10vw;
  margin-top: 0px;
}

.hex-links._6 {
  margin-top: 0px;
}

.hex-links._4 {
  margin-top: 0px;
}

.hex-links._3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.hex-links._5 {
  padding-top: 0px;
}

.hero-link {
  margin-top: 5px;
  color: #f8f5df;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.section-5 {
  display: block;
  overflow: hidden;
  height: 60vh;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-5.long {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 890px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 1px none #000;
  background-color: #fff;
  opacity: 1;
  outline-color: #333;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.section-5.long._1 {
  height: 885px;
}

.section-5.map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 580px;
  border: 1px none #000;
  background-color: #fff;
}

.section-5.map._1 {
  height: 580px;
}

.section-5._800 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 580px;
  background-color: #fff;
}

.section-5._800._1 {
  height: 560px;
}

.section-5._600-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  background-color: #fff;
}

.html-embed-2 {
  height: 61vh;
  border: 1px dashed #000;
}

.html-embed-2.long {
  width: 600px;
  height: 920px;
  border-style: none;
}

.html-embed-2._800 {
  display: block;
  width: 800px;
  height: 620px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: none;
}

.html-embed-2._600 {
  width: 600px;
  height: 620px;
  border-style: none;
}

.html-embed-2._400 {
  width: 560px;
  height: 620px;
  border-style: none;
}

.html-embed-2._1000 {
  display: block;
  width: 1100px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: none;
}

.html-embed-2._1200 {
  display: block;
  width: 800px;
  height: 630px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: none;
}

.loading-container {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lottie-wrapper {
  position: fixed;
  z-index: -50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.loading-lottie {
  position: fixed;
  left: 46.5%;
  top: 42%;
  right: 0%;
  bottom: 0%;
  width: 100px;
  height: 100px;
  opacity: 1;
  -o-object-fit: contain;
  object-fit: contain;
}

.body-4 {
  background-color: #000;
}

.button {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.navbar {
  background-color: #000;
}

.icon {
  background-color: #4cac83;
}

.button-2 {
  position: absolute;
  left: 50%;
  top: 50%;
}

.button-3 {
  position: absolute;
  left: 50%;
  top: 52%;
  right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 60vh;
  max-width: 40%;
  margin-top: 0vh;
  margin-right: auto;
  margin-left: auto;
  padding: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  background-color: transparent;
  opacity: 1;
  -webkit-transform: translate(-30vh, -35vh) translate(-50%, -50%);
  -ms-transform: translate(-30vh, -35vh) translate(-50%, -50%);
  transform: translate(-30vh, -35vh) translate(-50%, -50%);
  font-family: Quicksand, sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  text-decoration: none;
}

.next-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bold-text {
  color: #f8f5df;
}

.text-span {
  background-color: #fff8f8;
  color: #000;
}

.image {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.but {
  display: inline-block;
}

.text-block-2 {
  font-family: Exo, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.external-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 1px;
  margin-left: 10px;
}

@media screen and (min-width: 1440px) {
  .home-link-gif-div._6 {
    margin-top: -230px;
  }

  .home-link-gif-div._2 {
    margin-bottom: 320px;
  }

  .home-link-gif-div._5 {
    margin-bottom: 30px;
  }

  .home-link-gif-div._4 {
    margin-top: -230px;
  }

  .skills-circle-grid {
    margin-top: -7px;
    grid-column-gap: 90px;
  }

  .hex-links {
    max-width: 8vw;
  }

  .hero-link {
    color: #fff;
    text-align: center;
  }
}

@media screen and (min-width: 1920px) {
  .skills-circle-grid {
    margin-top: -15px;
  }
}

@media screen and (max-width: 991px) {
  .background-cloud {
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(0%, -171%, -14.4vh);
    transform: translate3d(0%, -171%, -14.4vh);
  }

  .portfolio-item-button.hoverable {
    width: 44vh;
    max-width: 75%;
    margin-bottom: 0vh;
  }

  .stream-container {
    -webkit-transform: translate3d(-10vh, 13vh, 36vh);
    transform: translate3d(-10vh, 13vh, 36vh);
  }

  .stream-container.stream-container-shadow {
    display: block;
    -webkit-transform: translate3d(-9vh, 14vh, 21.6vh);
    transform: translate3d(-9vh, 14vh, 21.6vh);
  }

  .cursor {
    background-color: #f6f0e2;
  }

  .inside-media {
    max-width: 75%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .conclusion-item-button.hoverable {
    margin-bottom: 0vh;
  }

  .empty-block.media-block {
    height: 55vh;
  }

  .caps-text {
    font-size: 12px;
    line-height: 18px;
  }

  .block-about-image {
    margin-bottom: 69px;
  }

  .contact-block {
    margin-top: 40px;
    padding-top: 40px;
  }

  .half-div.mobile-full {
    width: 100%;
  }

  .about-image {
    height: 662px;
  }

  .top-line-wrap {
    font-size: 12px;
  }

  .contact-form {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 48px;
  }

  .block-name {
    left: 55px;
    top: 295px;
  }

  .project-title {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 48px;
  }

  .button-text {
    font-size: 14px;
  }

  .right-block {
    padding-left: 0%;
  }

  .grid-2 {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .home-link-gif-div._1 {
    max-width: 13vw;
  }

  .hex-links {
    max-width: 13vw;
  }

  .hex-links._1 {
    max-width: 13vw;
  }

  .loading-container {
    display: none;
  }

  .loading-lottie {
    left: 43.5%;
  }

  .button-3 {
    position: static;
    left: 0px;
    top: 3%;
    display: none;
    margin-top: 0vh;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media screen and (max-width: 767px) {
  .stream-container {
    -webkit-transform: translate3d(-18vh, 17vh, 36vh);
    transform: translate3d(-18vh, 17vh, 36vh);
  }

  .stream-container.stream-container-shadow {
    display: block;
    -webkit-transform: translate3d(-17vh, 18vh, 21.6vh);
    transform: translate3d(-17vh, 18vh, 21.6vh);
  }

  .contact-block {
    display: block;
  }

  .about-image {
    height: 610px;
  }

  .contact-form {
    font-size: 32px;
    line-height: 38px;
  }

  .block-name {
    left: 33px;
    top: 319px;
  }

  .project-title {
    font-size: 32px;
    line-height: 38px;
  }

  .right-block {
    padding-left: 0px;
  }

  .grid-2 {
    width: 100%;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .face-section-2 {
    display: none;
  }

  .home-link-gif-div._1 {
    max-width: 13vw;
  }

  .home-link-gif-div._6 {
    margin-top: -140px;
  }

  .home-link-gif-div._2 {
    margin-bottom: 198px;
  }

  .home-link-gif-div._4 {
    margin-top: -140px;
  }

  .skills-circle-grid {
    margin-top: -18px;
    grid-column-gap: 30px;
    grid-row-gap: 16px;
  }

  .hex-links {
    max-width: 10vw;
  }

  .hex-links._2 {
    margin-top: 56px;
    padding-top: 20px;
  }

  .hex-links._1 {
    max-width: 13vw;
    margin-top: -50px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .hex-links._5 {
    margin-top: -38px;
  }

  .html-embed-2._400 {
    height: 580px;
  }

  .loading-container {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .pavak-illustration {
    margin-bottom: 15vh;
  }

  .foreground-cloud {
    max-width: none;
  }

  .background-cloud {
    max-width: none;
  }

  .stream-container.stream-container-shadow {
    display: none;
  }

  .cursor-wrapper {
    display: none;
  }

  .body-2 {
    cursor: default;
  }

  .inside-media {
    top: 45%;
  }

  .content-stream-container.content-stream-container-shadow {
    display: none;
  }

  .scroll-animation {
    bottom: 4%;
    width: 3vh;
    height: 6vh;
  }

  .conclusion-item-button.hoverable {
    padding-top: 9vh;
    padding-bottom: 9vh;
  }

  .conclusion-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .conclusion-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hover-text {
    color: #4cac83;
  }

  .footer-grid-wrap {
    width: 100%;
    margin-bottom: 13px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .block-about-image {
    margin-bottom: 32px;
  }

  .half-div.mobile-full {
    margin-bottom: 42px;
  }

  .half-div.phone-full {
    width: 100%;
  }

  .about-image {
    height: 460px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .contact-form {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
  }

  .block-name {
    left: -19px;
    top: 335px;
  }

  .section.center.top {
    padding-top: 25%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .project-title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
  }

  .text-field-2 {
    border-radius: 0px;
  }

  .hero-title-wrap {
    position: static;
  }

  .home-link-gif-div._1 {
    max-width: 51px;
    padding-right: 0px;
    padding-left: 18px;
  }

  .home-link-gif-div._6 {
    max-width: 70px;
    margin-top: -160px;
  }

  .home-link-gif-div._2 {
    margin-bottom: 260px;
  }

  .home-link-gif-div._3 {
    font-size: 10px;
  }

  .home-link-gif-div._4 {
    margin-top: -162px;
  }

  .skills-circle-grid {
    max-height: 40vh;
    margin-top: 0px;
    margin-bottom: -140px;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    grid-column-gap: 20px;
    -ms-grid-rows: 50vh auto;
    grid-template-rows: 50vh auto;
  }

  .hex-links {
    max-width: 60px;
  }

  .hex-links._2 {
    margin-top: 130px;
    padding-top: 0px;
  }

  .hex-links._1 {
    max-width: 70px;
    margin-top: -130px;
    padding-bottom: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .hex-links._6 {
    max-width: 70px;
  }

  .hero-link.shop {
    font-size: 10px;
  }

  .hero-link.modeling {
    font-size: 10px;
  }

  .hero-link.bookshelf {
    font-size: 10px;
  }

  .html-embed-2 {
    height: 63vh;
  }

  .html-embed-2._400 {
    height: 500px;
  }

  .loading-container {
    display: none;
    height: 2500vh;
  }

  .loading-lottie {
    position: -webkit-sticky;
    position: sticky;
    left: 0%;
    right: 0%;
    opacity: 0;
  }
}

#w-node-_0d1d5a7f-60a2-47f7-9d88-41969b52230b-f00414ff {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
}

#w-node-_0d1d5a7f-60a2-47f7-9d88-41969b522310-f00414ff {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand_Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}